body {
  margin: 10 auto;
}

header {
  backround-color: #ffbb99;
  width: 100%;
  height: 28vh;
}

nav {
  backround-color: #ff9966;
  width: 100%;
  height: 5vh;
}

main {
  width: 65%;
  float: left;
}

section {
  backround-color: #ff7733;
  height: 30vh;
}

article {
  backround-color: #ff5500;
  height: 30vh;
}

aside {
  backround-color: #cc4400;
  width: 35%;
  float: left;
  min-height: 68vh;
}

footer {
  backround-color: #993300;
  width: 100%;
  float: left;
  height: 10vh;
}

